.contact-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}
.highlight{
  color: #ff9500;
}

.cont{
  text-align: center;
  font-size: 2em !important;
  margin-top: 0px;
  padding-top: 35px;
}
#contact{
  background-color: #ccf2ff;
  margin-top: 0;
  padding-bottom: 32px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

input, textarea, .send{
  margin: 4px 0;
  padding: 8px;
  width: 100%; 
  font-size: 20px;
  background-color: #e6f2ff;
  border: 1px solid black;
  border-radius: 5px;
}

.send{
  background-color: aqua;
  transition: var(--transition-duration);
}

.send:hover{
  background-color: rgb(0, 74, 74);
}

.field{
  font-size: 20px;
}

@media (max-width: 600px){
  .cont{
      margin-top: -28px;
      padding-top: 37px;
  }
  input, textarea, .send{

      width: 90%; 

  }

  #message{
      height: 127px;
  }

  .field{
      margin-left: 33px;
  }
  
}

footer {
  background: linear-gradient(to bottom, #e6f2ff, #00232f);
  color: #fff;
  font-weight: 500;
  word-spacing: 5px;
  border: none;
  height: 40px; 
  margin: 0;
  padding: 0; 
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: center; 
  align-items: center;    
  position: relative;     
  height: 100%;            
}

footer i {
  color: red;
  animation: pulse 0.5s infinite;
}

footer a {
  all: unset;
  text-decoration: none;
  color: #ff0000;
  cursor: pointer;
  font-weight: bolder;
}

.version {
  position: absolute;
  right: 15px;       
  top: 50%;         
  transform: translateY(-50%);
  font-size: 14px;
  opacity: 0.9;
}

@keyframes pulse {
  0%   { transform: scale(1);   }
  50%  { transform: scale(1.5); }
  100% { transform: scale(1);   }
}